<%= render 'header'%>
<br/>
<h1><%= @user.name %>'s Events</h1>

<hr>

<h2>Future Events</h2>

<ul class="list-group">
<% if @future_events!=nil%>
	<%= render @future_events %>
<%end%>
</ul>

<hr>

<h2>Past</h2>

<ul class="list-group">
<% if @past_events!=nil%>
	<%= render @past_events %>
<%end%>
</ul>
