<% provide(:title, "Events") %>
<%= render 'header'%>
<% if signed_in? %>
	 <%= link_to 'Create a new event', newpost_path %>
<% end %>

<h1>Events</h1>

<hr>

<h2>Future</h2>

<ul class="list-group">
	<%= render @future_events %>
</ul>

<hr>

<h2>Past</h2>

<ul class="list-group">
	<%= render @past_events %>
</ul>
