/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
$icon-font-path: "bootstrap/";
@import "bootstrap";
body {
    background-color: #696969;
    .container {
        background-color: aliceblue;
        padding: 50px;
    }
    h1 {
        text-align: center;
    }
    .navbar {
        background-color: #2F4F4F;
        padding-top: 0;
        .navbar-nav {
            padding-top: 15px;
            .nav-item {
                font-size: 14px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        nav {
            .navbar-brand {
                h4 {
                    font-size: 28px;
                    font-weight: 600;
                    color: #ffffff;
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }
    .navbar-right {
        float: right !important;
        margin-right: 10px;
    }
    a:visited {
        color: #d466ff;
    }
    a:hover {
        color: #a31cfd;
    }
    .sign-form {
        max-width: 480px;
    }
}